<div class="item-list__item {active ? 'active' : ''}">
    <div class="item-list__item--title">
        <strong>{item.title}</strong>
    </div>

    <div class="item-list__item--dates">
        {timers}
    </div>

    <div class="item-list__item--actions">
        {#if item.interval === null}
        <button
            class="resume"
            on:click="$resumeItem(item._id)">
            <span>►</span>
        </button>
        {:else}
        <button
            class="pause"
            on:click="$pauseItem(item._id)">
            <span>||</span>
        </button>
        {/if}
        <button
            class="remove"
            on:click="$removeItem(item._id)">
            <span>x</span>
        </button>
    </div>
</div>

<script>
import { calculateSessionTime } from '../utils/helpers';

export default {
    props: ['item'],

    computed: {
        active({ item }) {
            return item.interval !== null;
        },

        timers({ item }) {
            const timer = calculateSessionTime(item.sessions);

            return `${timer.hours}:${timer.minutes}:${timer.seconds}`;
        }
    }
}
</script>
