<div class="item-list__item">
    <div class="item-list__item--title">
        <strong>{item.title}</strong> <em>({item._id})</em>
    </div>

    <div class="item-list__item--dates">
        {timers}
    </div>

    <div class="item-list__item--actions">
        <button
            class="resume"
            on:click="$resumeItem(item._id)">
            ►
        </button>
        <button
            class="remove"
            on:click="$removeItem(item._id)">
            x
        </button>
    </div>
</div>

<script>
import { calculateSessionTime } from '../utils/helpers';

export default {
    props: ['item'],

    computed: {
        timers({ item }) {
            const timer = calculateSessionTime(item.sessions);

            return `${timer.hours}:${timer.minutes}:${timer.seconds}`;
        }
    }
}
</script>
