<div class="item-list">
{#if items.length}
    {#each items as item (item._id)}
        <Item item="{item}" />
    {/each}
{:else}
    <div class="empty">No items :(</div>
{/if}
</div>

<script>
import Item from './Item.html';

export default {
    immutable: true,

    data: () => ({
        items: []
    }),

    oncreate() {
        const storage = window.localStorage;

        const storeItems = this.store.on('state', ({ current }) => {
            storage.setItem('toggle:items', JSON.stringify(current.items));

            this.set({ items: current.items });
        });

        this.on('destroy', storeItems.cancel);
    },

    components: {
		Item
	}
}
</script>
