<div class="item-list">
{#if items.length}
    {#each items as item (item._id)}
        <Item item="{item}" on />
    {/each}
{:else}
    <div class="empty">No items :(</div>
{/if}
</div>

<script>
import Item from './Item.html';

export default {
    immutable: true,

    data: () => ({
        items: []
    }),

    oncreate() {
        const storage = window.localStorage;

        const storeItems = this.store.on('state', ({ current }) => {
            storage.setItem('toggle:items', JSON.stringify(current.items));

            this.set({ items: current.items });
        });

        this.on('destroy', storeItems.cancel);
    },

    components: {
		Item
	}
}
</script>

<style type="text/scss">
@import '../scss/app';

.item-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: rem-calc(30) auto;

    :global(&__item) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem-calc(20);
        padding: 0;
        border-bottom: 1px solid #efefef;
        transition: all .3s ease-in;

        &:hover {
            background-color: #fcfcfc;
            border-bottom-color: #999;
        }

        &--title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: rem-calc(10) rem-calc(5);
            font-size: rem-calc(20);

            em {
                margin-left: rem-calc(10);
                font-size: rem-calc(10);
            }
        }

        &--dates {
            font-size: rem-calc(20);
            color: cornflowerblue;
        }
    }
}
</style>
