<div class="new-item">
    <input
        type="text"
        bind:value="title"
        on:enter="addItem()"
        on:escape="reset()"
        ref:newItem>
    <button on:click="addItem()">add</button>
</div>

<script>
import addMinutes from 'date-fns/add_minutes';
import getTime from 'date-fns/get_time';
import { keyEvent } from '../utils/helpers.js';

export default {
    data: () => ({
        title: ''
    }),

    methods: {
        addItem() {
            const input = this.refs.newItem;
            const value = input.value;

            if (value) {
                this.store.addItem({
                    title: value
                });

                input.value = '';
            }
        },

        reset() {
            this.refs.newItem.value = '';
        }
    },

    events: {
        enter: keyEvent(13),
        escape: keyEvent(27)
    }
}
</script>

<style type="text/scss">
@import '../scss/app';

.new-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        flex: 1;
        margin-right: rem-calc(5);
    }
}
</style>
