<div class="new-item">
    <input
        type="text"
        bind:value="title"
        on:enter="addItem()"
        on:escape="reset()"
        ref:newItem>
    <button on:click="addItem()">add</button>
</div>

<script>
import addMinutes from 'date-fns/add_minutes';
import getTime from 'date-fns/get_time';
import { keyEvent, uniqueId } from '../utils/helpers.js';

export default {
    data: () => ({
        title: ''
    }),

    methods: {
        addItem() {
            const input = this.refs.newItem;
            const value = input.value;

            if (value) {
                const { items } = this.store.get();
                const now = Date.now();
                const randomNumber = Math.floor(Math.random() * 15) + 1;

                const item = {
                    _id: uniqueId(),
                    title: value,
                    sessions: [
                        {
                            start: now,
                            end: getTime(addMinutes(now, randomNumber))
                        },
                        {
                            start: getTime(addMinutes(now, randomNumber * 20)),
                            end: getTime(addMinutes(now, randomNumber * 25))
                        },
                        {
                            start: getTime(addMinutes(now, randomNumber * 120)),
                            end: getTime(addMinutes(now, randomNumber * 125))
                        }
                    ]
                };

                this.store.set({
                    items: [item].concat(items)
                });

                input.value = '';
            }
        },

        reset() {
            this.refs.newItem.value = '';
        }
    },

    events: {
        enter: keyEvent(13),
        escape: keyEvent(27)
    }
}
</script>

<style type="text/scss">
@import '../scss/app';

.new-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        flex: 1;
        margin-right: rem-calc(5);
    }
}
</style>
