/** Sizes */
$font-size: 16px;
$content-width: rem-calc(860);

/** Colors */
$background: #fff;
$light: #fff;
$dark: #111;

$ok: #27ae60;
$info: #005596;
$warning: #e6b03d;
$danger: #eb5757;

/** Extra */
$transition-speed: .2s;
